<html>
<head>
<meta charset="utf-8">
<title>Random Quote Machine</title>

  <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/startmin.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Calculator component CSS -->
    <link href="../css/components/quote-machine.css" rel="stylesheet">
</head>
<body>
 
<div id="wrapper">
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">

			<div class="container-quote cont">
			<br>
				<div class="row">
					<div class="col-xs-12">
						<p id="quote"></p>
						<p id="author"></p>
					</div>
				</div>
				<div class="row"><br>
					<ul class="list-inline">
						<li><a href="#" id="getquote" class="btn btn-lg btn-default">Next Quote <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
						<li><a href="#" id="share" class="btn btn-lg btn-default">Share Quote <i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>

 <!-- jQuery -->
<script src="../js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="../js/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../js/startmin.js"></script>
<!-- Custom Theme  -->
<script src="../js/dinamic.js"></script>
<!-- local weather javascript -->
<script src="../js/components/quote-machine.js"></script>
</body>
</html>
