<!DOCTYPE html>
<html>
<head>
	<title>Wiki viewer</title>
	<meta charset="utf-8">
   <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/startmin.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Calculator component CSS -->
    <link href="../css/components/wikipedia-searcher.css" rel="stylesheet">
</head>
<body>
 
<div id="wrapper">
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="wiki-panel">
                <h1>Wikipedia Search</h1>
                <input type="text" id="searchWiki" name="search" placeholder="Search..."/>
                <button id="btn_search" class="btn btn-default">Search</button>

                <a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">
                  <button type="button" class="btn btn-default">Random Article</button>
                </a>

              <div class="wiki-inner">
                <div id="output"></div>
              </div>
            </div>

        </div>
    </div>
</div>


 <!-- jQuery -->
<script src="../js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="../js/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../js/startmin.js"></script>
<!-- Custom Theme  -->
<script src="../js/dinamic.js"></script>
<!-- local weather javascript -->
<script src="../js/components/wikipedia-searcher.js"></script>
</body>
</html>